#addButton {
    background-color: #C83E4D;
    color: #FFFFFF;
}

#addButton:hover {
    background-color: #A92F3D;
}

#updateButton {
    background-color: #4A5859;
    color: #FFFFFF;
}

#updateButton:hover {
    background-color: #32373B;
}

#deleteButton {
    background-color: #32373B;
    color: #FFFFFF;
}

#deleteButton:hover {
    background-color: #4A5859;
}

#clearButton {
    background-color: #F4B860;
    color: #32373B;
}

#clearButton:hover {
    background-color: #E2A34A;
}